:root {
    --logo-color: #e50815;
    --janre-color: #ee0814;
    --description-color: #92929a;
    --icons-color: #a2a2ab;
    --color-light: #ffffff;
    --btn-color: #2c2726;
    --rating-color: #e9ad00;
}
