.logo {
    display: inline-flex;
    align-items: center;
    gap: 0;
    font-size: 31px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    transition: font-size 0.25s ease;
    color: var(--color-light);
    font-family: "Unbounded", sans-serif;
}

.logoLink {
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.6;
    }
}

.red {
    color: var(--logo-color);
}

.shortText {
    display: none;
}

@media (max-width: 768px) {
    .logo {
        font-size: 24px;
    }
}

@media (max-width: 580px) {
    .fullText {
        display: none;
    }

    .shortText {
        display: inline;
    }
    .logo {
        font-size: 30px;
    }
}
