.page {
    min-height: 100svh;
    padding-top: 50px;
    padding-bottom: 72px;
    background-color: #09090c;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media (max-width: 1024px) {
    .layout {
        gap: 56px;
    }
}

@media (max-width: 768px) {
    .page {
        padding-bottom: 40px;
    }

    .layout {
        gap: 40px;
    }
}
